.booking-header {
    display: flex;
    position: relative;
    width: 700px;
    height: 77px;
    margin: 0 auto;
}
.content {
    text-align: left;
    align-items: flex-start;
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex: 1;
}

.step-book-ticket {
    position: static;
    width: 700px;
    margin: 0 auto;
    overflow: scroll;
}
.step-line {
    font-size: 12px;
    margin-top: 50px;
    margin-bottom: 20px;
    font-family: SFProText;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    font-weight: 600;
    padding-left: 30px;
    padding-right: 30px;
    display: inline-block;
}
.step-circle {
    align-items: center;
    display: flex;
    justify-content: space-between;
}
.current-step {
    width: 32px;
    height: 32px;
    border: 2px solid #f15a24;
    background-color: #f15a24;
    border-radius: 16px;
    justify-content: center;
}
.active-title {
    font-weight: 700;
    color: #f15a24;
    position: absolute;
    justify-content: center;
    width: 100px;
    height: 40px;
    top: -50px;
    display: flex;
}
.route-option {
    padding: 20px;
    border-radius: 8px;
    border: 1px solid #dde2e8;
    margin-bottom: 20px;
    width: 700px;
}
.header {
    font-size: 24px;
    font-weight: 500;
}
.ulities {
    float: right;

}
.label {
    color: #111;
    margin: 8px 0 16px;
    font-size: 15px;
    font-weight: 500;
    min-width: 200px;
    height: 28px;
    border-radius: 16px;
    padding: 5px 12px;
    display: inline-block;
    background-color: rgba(99,114,128,.1);
}
.dot {
    display: inline-block;
    width: 6px;
    border-radius: 3px;
    height: 6px;
    opacity: .3;
    margin: 3px 12px;
    background-color: #000;
}
.route-line-container {
    display: flex;
    margin-bottom: 20px;
}
.route-line-list {
    flex: 1;
}
.route-line img {
    position: absolute;
    left: -9px;
}
.route-line div {
    font-size: 13px;
    color: #00613d;
    line-height: 48px;
}
.route-line {
    font-weight: 500;
    color: #111;
    position: relative;
    font-size: 15px;
    border-left: 2px dotted #c0c6cc;
    padding-left: 22px;
    margin-left: 8px;
}